<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senpure.base.mapper.AccountValueMapper">
    <resultMap id="accountValueResultMap" type="com.senpure.base.model.AccountValue">
        <id     column="id"             property="id"           jdbcType="BIGINT"/>  <!-- 主键 -->
        <result column="version"        property="version"      jdbcType="INTEGER"/> <!-- 乐观锁，版本控制 -->
        <result column="account_key"    property="key"          jdbcType="VARCHAR"/>
        <result column="account_value"  property="value"        jdbcType="VARCHAR"/>
        <result column="description"    property="description"  jdbcType="VARCHAR"/>
        <result column="account_id"     property="accountId"    jdbcType="BIGINT"/>  <!-- 外键,modelName:Account,tableName:senpure_account -->
    </resultMap>
    <sql id="accountValueAllColumns">
        id,version,account_key,account_value,description,account_id
    </sql>

    <!--主键查找-->
    <select id="find" resultMap="accountValueResultMap" parameterType="Long">
        select <include refid="accountValueAllColumns"/> from senpure_account_value where id = #{id}
    </select>

    <!--主键删除-->
    <delete id="delete" parameterType="Long">
        delete from senpure_account_value where id = #{id}
    </delete>

    <!--按条件删除(不取主键的值进行对比，即主键无效化)-->
    <delete id="deleteByCriteria" parameterType="com.senpure.base.criteria.AccountValueCriteria">
        delete from senpure_account_value
        <where>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
            <if test="key != null">
                and account_key = #{key}
            </if>
            <if test="value != null">
                and account_value = #{value}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
    </delete>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="save" parameterType="com.senpure.base.model.AccountValue" >
        insert into senpure_account_value (<include refid="accountValueAllColumns"/>)
        values (#{id},1,#{key},#{value},#{description},#{accountId})
    </insert>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="saveBatch" parameterType="com.senpure.base.model.AccountValue" >
        insert into senpure_account_value (<include refid="accountValueAllColumns"/>)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},1,#{item.key},#{item.value},#{item.description},#{item.accountId})
        </foreach>
    </insert>

    <!--会进行对象的空值判断，不为空才更新，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="update" parameterType="com.senpure.base.model.AccountValue">
        update senpure_account_value
        <set>
                <bind name="versionUpdate" value="version + 1"/>
                version = #{versionUpdate},
            <if test="key != null">
                account_key = #{key},
            </if>
            <if test="value != null">
                account_value = #{value},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="accountId != null">
                account_id = #{accountId},
            </if>
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!-- 直接将值覆盖到数据库，不会做为空判断，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="cover" parameterType="com.senpure.base.model.AccountValue">
        update senpure_account_value
        <set>
            <bind name="versionUpdate" value="version + 1"/>
            version = #{versionUpdate},
            account_key = #{key},
            account_value = #{value},
            description = #{description},
            account_id = #{accountId},
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!--会进行对象的空值判断，不为空才更新，主键无值时，可以进行批量更新-->
    <update id="updateByCriteria" parameterType="com.senpure.base.criteria.AccountValueCriteria">
        update senpure_account_value
        <set>
            <choose>
                <when test="version != null">
                    <bind name="versionUpdate" value="version + 1"/>
                    version = #{versionUpdate},
                </when>
                <otherwise>
                    version = version + 1,
                </otherwise>
            </choose>
                <if test="key != null">
                    account_key = #{key},
                </if>
                <if test="value != null">
                    account_value = #{value},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="accountId != null">
                    account_id = #{accountId},
                </if>
        </set>
        <where>
                <if test="id != null">
                    id = #{id}
                 </if>
                <if test="version != null">
                    and version =  #{version}
                </if>
        </where>
     </update>

    <select id="count" resultType="int">
        select count(*) from senpure_account_value
    </select>

    <select id="findAll" resultMap="accountValueResultMap" parameterType="Long">
        select <include refid="accountValueAllColumns"/> from senpure_account_value
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="countByCriteria" resultType="int" parameterType="com.senpure.base.criteria.AccountValueCriteria">
        select count(*) from senpure_account_value
        <where>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
            <if test="key != null">
                and account_key = #{key}
            </if>
            <if test="value != null">
                and account_value = #{value}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="findByCriteria" parameterType="com.senpure.base.criteria.AccountValueCriteria" resultMap="accountValueResultMap">
        select <include refid="accountValueAllColumns"/>
        from senpure_account_value
        <where>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
            <if test="key != null">
                and account_key = #{key}
            </if>
            <if test="value != null">
                and account_value = #{value}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
        <if test="hasOrder">
            ORDER BY
            <foreach collection="order" index="key" item="item" separator=",">
                <if test="item == 'DESC'">
                    ${key} DESC
                </if>
                <if test="item == 'ASC'">
                    ${key} ASC
                </if>
            </foreach>
        </if>
        <if test="usePage">
            <choose>
                <when test="firstResult == 0">
                    limit #{maxResults}
                </when>
                <otherwise>
                    limit #{firstResult}, #{maxResults}
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>
