<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senpure.base.mapper.PermissionMapper">
    <resultMap id="permissionResultMap" type="com.senpure.base.model.Permission">
        <id     column="id"               property="id"              jdbcType="BIGINT"/>  <!-- 主键 -->
        <result column="version"          property="version"         jdbcType="INTEGER"/> <!-- 乐观锁，版本控制 -->
        <result column="name"             property="name"            jdbcType="VARCHAR"/> <!-- 字符串唯一标识 -->
        <result column="readable_name"    property="readableName"    jdbcType="VARCHAR"/> <!-- 权限名 -->
        <result column="database_update"  property="databaseUpdate"  jdbcType="BIT"/>     <!-- 是否从数据库更新过 -->
        <result column="type"             property="type"            jdbcType="VARCHAR"/> <!-- NORMAL 正常 ，OWNER 检查所有者，IGNORE 可以忽略(正常放行) -->
        <result column="offset"           property="offset"          jdbcType="VARCHAR"/> <!-- '1,2' type为OWNER 配合verifyName使用 -->
        <result column="verify_name"      property="verifyName"      jdbcType="VARCHAR"/> <!-- 'containerResource',roleResource' type为OWNER 配合offset使用 -->
        <result column="description"      property="description"     jdbcType="VARCHAR"/>
        <result column="sort"             property="sort"            jdbcType="INTEGER"/> <!-- 排序 -->
    </resultMap>
    <sql id="permissionAllColumns">
        id,version,name,readable_name,database_update,type,offset,verify_name,description,sort
    </sql>

    <!--主键查找-->
    <select id="find" resultMap="permissionResultMap" parameterType="Long">
        select <include refid="permissionAllColumns"/> from senpure_permission where id = #{id}
    </select>

    <!--主键删除-->
    <delete id="delete" parameterType="Long">
        delete from senpure_permission where id = #{id}
    </delete>

    <!--按条件删除(不取主键的值进行对比，即主键无效化)-->
    <delete id="deleteByCriteria" parameterType="com.senpure.base.criteria.PermissionCriteria">
        delete from senpure_permission
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="readableName != null">
                and readable_name = #{readableName}
            </if>
            <if test="databaseUpdate != null">
                and database_update = #{databaseUpdate}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="offset != null">
                and offset = #{offset}
            </if>
            <if test="verifyName != null">
                and verify_name = #{verifyName}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
        </where>
    </delete>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="save" parameterType="com.senpure.base.model.Permission" >
        insert into senpure_permission (<include refid="permissionAllColumns"/>)
        values (#{id},1,#{name},#{readableName},#{databaseUpdate},#{type},#{offset},#{verifyName},#{description},#{sort})
    </insert>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="saveBatch" parameterType="com.senpure.base.model.Permission" >
        insert into senpure_permission (<include refid="permissionAllColumns"/>)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},1,#{item.name},#{item.readableName},#{item.databaseUpdate},#{item.type},#{item.offset},#{item.verifyName},#{item.description},#{item.sort})
        </foreach>
    </insert>

    <!--会进行对象的空值判断，不为空才更新，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="update" parameterType="com.senpure.base.model.Permission">
        update senpure_permission
        <set>
                <bind name="versionUpdate" value="version + 1"/>
                version = #{versionUpdate},
            <if test="name != null">
                name = #{name},
            </if>
            <if test="readableName != null">
                readable_name = #{readableName},
            </if>
            <if test="databaseUpdate != null">
                database_update = #{databaseUpdate},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="offset != null">
                offset = #{offset},
            </if>
            <if test="verifyName != null">
                verify_name = #{verifyName},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!-- 直接将值覆盖到数据库，不会做为空判断，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="cover" parameterType="com.senpure.base.model.Permission">
        update senpure_permission
        <set>
            <bind name="versionUpdate" value="version + 1"/>
            version = #{versionUpdate},
            name = #{name},
            readable_name = #{readableName},
            database_update = #{databaseUpdate},
            type = #{type},
            offset = #{offset},
            verify_name = #{verifyName},
            description = #{description},
            sort = #{sort},
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!--会进行对象的空值判断，不为空才更新，主键无值时，可以进行批量更新-->
    <update id="updateByCriteria" parameterType="com.senpure.base.criteria.PermissionCriteria">
        update senpure_permission
        <set>
            <choose>
                <when test="version != null">
                    <bind name="versionUpdate" value="version + 1"/>
                    version = #{versionUpdate},
                </when>
                <otherwise>
                    version = version + 1,
                </otherwise>
            </choose>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="readableName != null">
                    readable_name = #{readableName},
                </if>
                <if test="databaseUpdate != null">
                    database_update = #{databaseUpdate},
                </if>
                <if test="type != null">
                    type = #{type},
                </if>
                <if test="offset != null">
                    offset = #{offset},
                </if>
                <if test="verifyName != null">
                    verify_name = #{verifyName},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="sort != null">
                    sort = #{sort},
                </if>
        </set>
        <where>
                <if test="id != null">
                    id = #{id}
                 </if>
                <if test="version != null">
                    and version =  #{version}
                </if>
        </where>
     </update>

    <select id="count" resultType="int">
        select count(*) from senpure_permission
    </select>

    <select id="findAll" resultMap="permissionResultMap" parameterType="Long">
        select <include refid="permissionAllColumns"/> from senpure_permission
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="countByCriteria" resultType="int" parameterType="com.senpure.base.criteria.PermissionCriteria">
        select count(*) from senpure_permission
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="readableName != null">
                and readable_name = #{readableName}
            </if>
            <if test="databaseUpdate != null">
                and database_update = #{databaseUpdate}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="offset != null">
                and offset = #{offset}
            </if>
            <if test="verifyName != null">
                and verify_name = #{verifyName}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
        </where>
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="findByCriteria" parameterType="com.senpure.base.criteria.PermissionCriteria" resultMap="permissionResultMap">
        select <include refid="permissionAllColumns"/>
        from senpure_permission
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="readableName != null">
                and readable_name = #{readableName}
            </if>
            <if test="databaseUpdate != null">
                and database_update = #{databaseUpdate}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="offset != null">
                and offset = #{offset}
            </if>
            <if test="verifyName != null">
                and verify_name = #{verifyName}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
        </where>
        <if test="hasOrder">
            ORDER BY
            <foreach collection="order" index="key" item="item" separator=",">
                <if test="item == 'DESC'">
                    ${key} DESC
                </if>
                <if test="item == 'ASC'">
                    ${key} ASC
                </if>
            </foreach>
        </if>
        <if test="usePage">
            <choose>
                <when test="firstResult == 0">
                    limit #{maxResults}
                </when>
                <otherwise>
                    limit #{firstResult}, #{maxResults}
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>
