<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senpure.base.mapper.RoleMapper">
    <resultMap id="roleResultMap" type="com.senpure.base.model.Role">
        <id     column="id"            property="id"           jdbcType="BIGINT"/>    <!-- 主键 -->
        <result column="version"       property="version"      jdbcType="INTEGER"/>   <!-- 乐观锁，版本控制 -->
        <result column="name"          property="name"         jdbcType="VARCHAR"/>
        <result column="create_date"   property="createDate"   jdbcType="TIMESTAMP"/>
        <result column="create_time"   property="createTime"   jdbcType="BIGINT"/>
        <result column="description"   property="description"  jdbcType="VARCHAR"/>
        <result column="container_id"  property="containerId"  jdbcType="INTEGER"/>   <!-- 外键,modelName:Container,tableName:senpure_container -->
    </resultMap>
    <sql id="roleAllColumns">
        id,version,name,create_date,create_time,description,container_id
    </sql>

    <!--主键查找-->
    <select id="find" resultMap="roleResultMap" parameterType="Long">
        select <include refid="roleAllColumns"/> from senpure_role where id = #{id}
    </select>

    <!--主键删除-->
    <delete id="delete" parameterType="Long">
        delete from senpure_role where id = #{id}
    </delete>

    <!--按条件删除(不取主键的值进行对比，即主键无效化)-->
    <delete id="deleteByCriteria" parameterType="com.senpure.base.criteria.RoleCriteria">
        delete from senpure_role
        <where>
            <if test="containerId != null">
                and container_id = #{containerId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="startDate != null">
                and create_time >= #{startDate.time}
            </if>
            <if test="endDate != null">
                and create_time &lt;= #{endDate.time}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
    </delete>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="save" parameterType="com.senpure.base.model.Role" >
        insert into senpure_role (<include refid="roleAllColumns"/>)
        values (#{id},1,#{name},#{createDate},#{createTime},#{description},#{containerId})
    </insert>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="saveBatch" parameterType="com.senpure.base.model.Role" >
        insert into senpure_role (<include refid="roleAllColumns"/>)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},1,#{item.name},#{item.createDate},#{item.createTime},#{item.description},#{item.containerId})
        </foreach>
    </insert>

    <!--会进行对象的空值判断，不为空才更新，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="update" parameterType="com.senpure.base.model.Role">
        update senpure_role
        <set>
                <bind name="versionUpdate" value="version + 1"/>
                version = #{versionUpdate},
            <if test="name != null">
                name = #{name},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="containerId != null">
                container_id = #{containerId},
            </if>
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!-- 直接将值覆盖到数据库，不会做为空判断，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="cover" parameterType="com.senpure.base.model.Role">
        update senpure_role
        <set>
            <bind name="versionUpdate" value="version + 1"/>
            version = #{versionUpdate},
            name = #{name},
            create_date = #{createDate},
            create_time = #{createTime},
            description = #{description},
            container_id = #{containerId},
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!--会进行对象的空值判断，不为空才更新，主键无值时，可以进行批量更新-->
    <update id="updateByCriteria" parameterType="com.senpure.base.criteria.RoleCriteria">
        update senpure_role
        <set>
            <choose>
                <when test="version != null">
                    <bind name="versionUpdate" value="version + 1"/>
                    version = #{versionUpdate},
                </when>
                <otherwise>
                    version = version + 1,
                </otherwise>
            </choose>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="createDate != null">
                    create_date = #{createDate},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="containerId != null">
                    container_id = #{containerId},
                </if>
        </set>
        <where>
                <if test="id != null">
                    id = #{id}
                 </if>
                <if test="startDate != null">
                    and create_time >= #{startDate.time}
                </if>
                <if test="endDate != null">
                    and create_time &lt;= #{endDate.time}
                </if>
                <if test="version != null">
                    and version =  #{version}
                </if>
        </where>
     </update>

    <select id="count" resultType="int">
        select count(*) from senpure_role
    </select>

    <select id="findAll" resultMap="roleResultMap" parameterType="Long">
        select <include refid="roleAllColumns"/> from senpure_role
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="countByCriteria" resultType="int" parameterType="com.senpure.base.criteria.RoleCriteria">
        select count(*) from senpure_role
        <where>
            <if test="containerId != null">
                and container_id = #{containerId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="startDate != null">
               and create_time >= #{startDate.time}
            </if>
            <if test="endDate != null">
                 and create_time &lt;= #{endDate.time}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="findByCriteria" parameterType="com.senpure.base.criteria.RoleCriteria" resultMap="roleResultMap">
        select <include refid="roleAllColumns"/>
        from senpure_role
        <where>
            <if test="containerId != null">
                and container_id = #{containerId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="startDate != null">
                and create_time >= #{startDate.time}
            </if>
            <if test="endDate != null">
                and create_time &lt;= #{endDate.time}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
        <if test="hasOrder">
            ORDER BY
            <foreach collection="order" index="key" item="item" separator=",">
                <if test="item == 'DESC'">
                    ${key} DESC
                </if>
                <if test="item == 'ASC'">
                    ${key} ASC
                </if>
            </foreach>
        </if>
        <if test="usePage">
            <choose>
                <when test="firstResult == 0">
                    limit #{maxResults}
                </when>
                <otherwise>
                    limit #{firstResult}, #{maxResults}
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>
