<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senpure.base.mapper.RoleValueMapper">
    <resultMap id="roleValueResultMap" type="com.senpure.base.model.RoleValue">
        <id     column="id"           property="id"           jdbcType="BIGINT"/>  <!-- 主键 -->
        <result column="version"      property="version"      jdbcType="INTEGER"/> <!-- 乐观锁，版本控制 -->
        <result column="role_key"     property="key"          jdbcType="VARCHAR"/>
        <result column="role_value"   property="value"        jdbcType="VARCHAR"/>
        <result column="description"  property="description"  jdbcType="VARCHAR"/>
        <result column="role_id"      property="roleId"       jdbcType="BIGINT"/>  <!-- 外键,modelName:Role,tableName:senpure_role -->
    </resultMap>
    <sql id="roleValueAllColumns">
        id,version,role_key,role_value,description,role_id
    </sql>

    <!--主键查找-->
    <select id="find" resultMap="roleValueResultMap" parameterType="Long">
        select <include refid="roleValueAllColumns"/> from senpure_role_value where id = #{id}
    </select>

    <!--主键删除-->
    <delete id="delete" parameterType="Long">
        delete from senpure_role_value where id = #{id}
    </delete>

    <!--按条件删除(不取主键的值进行对比，即主键无效化)-->
    <delete id="deleteByCriteria" parameterType="com.senpure.base.criteria.RoleValueCriteria">
        delete from senpure_role_value
        <where>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="key != null">
                and role_key = #{key}
            </if>
            <if test="value != null">
                and role_value = #{value}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
    </delete>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="save" parameterType="com.senpure.base.model.RoleValue" >
        insert into senpure_role_value (<include refid="roleValueAllColumns"/>)
        values (#{id},1,#{key},#{value},#{description},#{roleId})
    </insert>

    <!-- 取对象的值，直接插入数据库(包括空值),version字段(版本控制)，被初始化为1-->
    <insert id="saveBatch" parameterType="com.senpure.base.model.RoleValue" >
        insert into senpure_role_value (<include refid="roleValueAllColumns"/>)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},1,#{item.key},#{item.value},#{item.description},#{item.roleId})
        </foreach>
    </insert>

    <!--会进行对象的空值判断，不为空才更新，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="update" parameterType="com.senpure.base.model.RoleValue">
        update senpure_role_value
        <set>
                <bind name="versionUpdate" value="version + 1"/>
                version = #{versionUpdate},
            <if test="key != null">
                role_key = #{key},
            </if>
            <if test="value != null">
                role_value = #{value},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!-- 直接将值覆盖到数据库，不会做为空判断，以主键进行where判断,version字段(版本控制)，必须有有效值-->
    <update id="cover" parameterType="com.senpure.base.model.RoleValue">
        update senpure_role_value
        <set>
            <bind name="versionUpdate" value="version + 1"/>
            version = #{versionUpdate},
            role_key = #{key},
            role_value = #{value},
            description = #{description},
            role_id = #{roleId},
        </set>
        where id = #{id}  and version =  #{version}
    </update>

    <!--会进行对象的空值判断，不为空才更新，主键无值时，可以进行批量更新-->
    <update id="updateByCriteria" parameterType="com.senpure.base.criteria.RoleValueCriteria">
        update senpure_role_value
        <set>
            <choose>
                <when test="version != null">
                    <bind name="versionUpdate" value="version + 1"/>
                    version = #{versionUpdate},
                </when>
                <otherwise>
                    version = version + 1,
                </otherwise>
            </choose>
                <if test="key != null">
                    role_key = #{key},
                </if>
                <if test="value != null">
                    role_value = #{value},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="roleId != null">
                    role_id = #{roleId},
                </if>
        </set>
        <where>
                <if test="id != null">
                    id = #{id}
                 </if>
                <if test="version != null">
                    and version =  #{version}
                </if>
        </where>
     </update>

    <select id="count" resultType="int">
        select count(*) from senpure_role_value
    </select>

    <select id="findAll" resultMap="roleValueResultMap" parameterType="Long">
        select <include refid="roleValueAllColumns"/> from senpure_role_value
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="countByCriteria" resultType="int" parameterType="com.senpure.base.criteria.RoleValueCriteria">
        select count(*) from senpure_role_value
        <where>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="key != null">
                and role_key = #{key}
            </if>
            <if test="value != null">
                and role_value = #{value}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
    </select>

    <!--主键会无效化,不会进行条件对比-->
    <select id="findByCriteria" parameterType="com.senpure.base.criteria.RoleValueCriteria" resultMap="roleValueResultMap">
        select <include refid="roleValueAllColumns"/>
        from senpure_role_value
        <where>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="key != null">
                and role_key = #{key}
            </if>
            <if test="value != null">
                and role_value = #{value}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
        </where>
        <if test="hasOrder">
            ORDER BY
            <foreach collection="order" index="key" item="item" separator=",">
                <if test="item == 'DESC'">
                    ${key} DESC
                </if>
                <if test="item == 'ASC'">
                    ${key} ASC
                </if>
            </foreach>
        </if>
        <if test="usePage">
            <choose>
                <when test="firstResult == 0">
                    limit #{maxResults}
                </when>
                <otherwise>
                    limit #{firstResult}, #{maxResults}
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>
