<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <Properties>
        <Property name="PID">????</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint}%clr{${LOG_LEVEL_PATTERN}} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint}%clr{%-40.40c{1.}}{cyan} %clr{:}{faint}%m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
        </Property>
        <Property name="TARGET_PATTERN">%clr{目标程序日志}{cyan}| %msg%n</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="Run" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${TARGET_PATTERN}"/>
        </Console>
        <Console name="Read" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <RollingFile name="ROLLING" fileName="/data/logs/mahjong/server.log"
                     filePattern="log.%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="51200 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="com.senpure" level="debug"></logger>
        <logger name="com.senpure.jre.Run" additivity="false">
            <AppenderRef ref="Run"/>
        </logger>
        <logger name="com.senpure.jre.Read" additivity="false">
            <AppenderRef ref="Read"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="Console"/>

        </Root>
    </loggers>
</configuration>